.logo-link:hover, .logo-link:focus  {color: #4D5AE5;
}

.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.studio {
    color: #2e2f42;}

    .studio-footer { color: #f4f4fd;}
.logo-link-footer {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.menu a {color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
.menu a:hover, .menu a:focus {
color: #404bbf;
}
.menu {list-style-type: none;}


.address {
    font-style: normal; 
}
.address-links a {
    color: #434455;
    letter-spacing: 0.02em;
    
}
.address-links a:hover, .address-links a:focus {color: #404bbf;}
.address-links { list-style-type: none;}

body {font-family: Roboto, sans-serif;
      color: #434455;
      background-color: #FFF;
      line-height: 1.5;
    }

 .main-title {
    color:  #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.section-text {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.button {
    cursor: pointer;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #FFF;
}
.button:hover, .button:focus  {
background-color: #404BBF;
}

.first-block {
    background-color:  #2E2F42;
}

.third-block { 
    background-color: #F4F4FD;
}

.section-footer {
    background-color: #2E2F42;
}
.section-footer-text {
color: #F4F4FD;
letter-spacing: 0.02em;
}

.heder a {
text-decoration: none;
}
 
.Advantages {
    list-style-type: none;
}

.team {
list-style-type: none;
}

.team-item {background-color: #FFFFFF;}

.portfolio {
    list-style-type: none;
}